<h1>Calendario mensual</h1>

<div class="calendar-toolbar">
    <button
        type="button"
        mat-icon-button
        (click)="previousMonth()">
        <mat-icon>chevron_left</mat-icon>
    </button>

    <select
        [ngModel]="currentDate().getMonth()"
        (ngModelChange)="changeMonth($event)">

        <option
            *ngFor="let month of months"
            [ngValue]="month.value">
            {{ month.label }}
        </option>
    </select>

    <select
        [ngModel]="currentDate().getFullYear()"
        (ngModelChange)="changeYear($event)">

        <option
            *ngFor="let year of years"
            [ngValue]="year">
            {{ year }}
        </option>
    </select>

    <button
        type="button"
        mat-icon-button
        (click)="nextMonth()">
        <mat-icon>chevron_right</mat-icon>
    </button>

    <button
        type="button"
        mat-button
        (click)="goToToday()">
        Hoy
    </button>
</div>

<div class="calendar-header">
    <div>Lun</div>
    <div>Mar</div>
    <div>Mié</div>
    <div>Jue</div>
    <div>Vie</div>
    <div>Sáb</div>
    <div>Dom</div>
</div>

<div class="calendar-grid">
    <div
        class="calendar-day"
        *ngFor="let day of days()">

        <ng-container *ngIf="day">
            <span class="day-number">
                {{ day | date:'d' }}
            </span>

            <div
              class="appointment-card"
              *ngFor="let appointment of getAppointmentsByDay(day)"
              [style.borderTopColor]="appointment.appointment_type?.color"
              (click)="openEditModal(appointment)"
              [matTooltip]="getAppointmentTooltip(appointment)"
              matTooltipPosition="above">

                <span>
                    {{ appointment.description }}
                    -
                    {{ appointment.appointment_type?.name }}
                </span>

                <button
                    mat-icon-button
                    type="button"
                    class="delete-button"
                    (click)="deleteAppointment($event, appointment.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </ng-container>
    </div>
</div>

<app-appointment-modal
  *ngIf="isModalOpen()"
  [appointment]="selectedAppointment()"
  (close)="closeModal()"
  (saved)="onSaved()">
</app-appointment-modal>