<h1>Tipos de cita</h1>

<div *ngFor="let appointmentType of appointmentTypes()">
  <span>{{ appointmentType.name }}</span>

  <button
    type="button"
    (click)="openEditModal(appointmentType)">
    Editar
  </button>
  
  <button
    type="button"
    (click)="deleteAppointmentType(appointmentType.id)">
    Eliminar
</button>
</div>

<button type="button" (click)="openCreateModal()">
  Nuevo tipo
</button>

<ng-template #emptyState>
  <p>No hay tipos de cita registrados.</p>
</ng-template>

<app-appointment-type-modal
  *ngIf="isModalOpen()"
  [appointmentType]="selectedAppointmentType()"
  (close)="closeModal()"
  (saved)="onSaved()">
</app-appointment-type-modal>