<h1>Próximas citas</h1>

<input
  type="text"
  placeholder="Buscar por título o notas"
  [value]="searchTerm()"
  (input)="searchTerm.set($any($event.target).value)"/>

<button type="button" (click)="openCreateModal()">
  Nueva cita
</button>

<div *ngIf="filteredAppointments().length > 0; else emptyState">
  <div *ngFor="let appointment of filteredAppointments()">
    <h3>{{ appointment.description }}</h3>

    <p>
      Inicio:
      {{ appointment.starts_at | date:'dd/MM/yyyy HH:mm' }}
    </p>

    <p>
      Fin:
      {{ appointment.ends_at | date:'dd/MM/yyyy HH:mm' }}
    </p>

    <p>
      Tipo:
      <span
        class="appointment-type-color"
        [style.backgroundColor]="appointment.appointment_type?.color">
      </span>

      {{ appointment.appointment_type?.name }}
    </p>

    <p *ngIf="appointment.location">
      Ubicación: 
        {{ appointment.location }}
    </p>

    <p *ngIf="appointment.notes">
      {{ appointment.notes }}
    </p>
    
    <button
      type="button"
      (click)="openEditModal(appointment)">
      Editar
    </button>
    <button
      type="button"
      (click)="deleteAppointment(appointment.id)">
      Eliminar
    </button>
  </div>
</div>

<ng-template #emptyState>
  <p>No hay próximas citas.</p>
</ng-template>

<app-appointment-modal
  *ngIf="isModalOpen()"
  [appointment]="selectedAppointment()"
  (close)="closeModal()"
  (saved)="onSaved()">
</app-appointment-modal>